*{
    margin: 0;
    padding: 0;
    outline-color: transparent;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    display: flex;
    overflow: hidden;
    padding: 5px;
    background-color: #000;
    color: #fff;
}
.three-part{
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
#chocolatine{
    max-width: 90%;
    transition: 0.3s ease;
}

#chocolatine:hover{
    max-width: 100%;
    cursor: pointer;
}
#center-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#center-part div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;

}
#center-part div:nth-child(2){
    height: 70%;
    display: grid;
    place-items: center;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}
#container::-webkit-scrollbar{
    width: 6px;
    background-color: #d6d6d6;
}
#container::-webkit-scrollbar-thumb{
    background-color: #000;
}
.unaffordable{
    opacity: 0.2;
}
.upgrade{
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5c5c5c;
    border-radius: 6px;
    margin: 6px;
}
.upgrade img{
    height: 70px;
    width: 70px;
}
.upgrade-item-price-and-tag{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upgrade-item-count{
    font-size: 2rem;
}